// stylelint-disable selector-max-type, selector-no-qualifying-type

.highlight {
	padding: 1rem;
	background-color: gray('light');
	font-size: 90%;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	pre {
		margin-bottom: 0;
	}
}

code.highlighter-rouge {
	padding: 0.2rem 0;
	border-radius: $border-radius;
	background-color: gray('light');
	font-size: 90%;

	&::after,
	&::before {
		content: '\00a0';
		letter-spacing: -0.2em;
	}
}

// stylelint-enable selector-max-type, selector-no-qualifying-type
.js,
.sass {
	&::before {
		display: inline-block;
		min-width: 1.5rem;
		padding: 0.125rem 0.25rem;
		border-radius: 5px;
		margin-right: $spacer-sm;
		vertical-align: middle;
		color: $white;
		font-size: 85%;
		text-align: center;
		word-wrap: normal;
	}

	&.anchor::before {
		min-width: 1.25rem;
		padding: 0.125rem 0.5rem;
		font-size: 65%;
	}
}

.js {
	&.class {
		&::before {
			content: '{ }';
			background-color: color('red');
			font-weight: 600;
		}

		&.anchor::before {
			content: 'Class';
		}
	}

	&.constructor {
		&::before {
			content: 'ƒ';
			background-color: color('purple');
			font-weight: 600;
		}

		&.anchor::before {
			content: 'Constructor';
		}
	}

	&.function {
		&::before {
			content: 'ƒ';
			background-color: color('orange');
		}

		&.anchor::before {
			content: 'Function';
		}
	}

	&.constant {
		&::before {
			content: 'C';
			background-color: color('green');
		}

		&.anchor::before {
			content: 'Constant';
		}
	}

	&.inner {
		&::before {
			content: '{ }';
			background-color: color('green');
		}

		&.anchor::before {
			content: 'Inner object';
		}
	}

	&.static::before {
		font-style: italic;
	}
}

.sass {
	&.mixin {
		&::before {
			content: '@';
			background-color: color('purple');
			font-weight: 600;
		}

		&.anchor::before {
			content: 'Mixin';
		}
	}

	&.variable {
		&::before {
			content: '$';
			background-color: color('green');
		}

		&.anchor::before {
			content: 'Variable';
		}
	}
}
