.example {
	padding: 1.5rem 1.5rem 1.5rem - 0.5rem;
	border: 1px solid $border-color;
	border-top-right-radius: 3px;
	margin-top: 2rem;
	position: relative;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;

	&::before {
		content: 'Example';
		display: inline-block;
		padding: 3px 5px;
		border-radius: 3px 3px 0 0;
		position: absolute;
		bottom: 100%;
		left: -1px;
		background: $border-color;
		font-size: 0.625rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.btn {
		margin-bottom: 0.5rem;
	}
}

.example ~ .highlight {
	border: 1px solid $border-color;
	border-top: none;
	border-radius: 0 0 3px 3px;
	margin-bottom: 1rem;
	position: relative;

	.copy {
		display: block;
		padding: 0.25rem 0.5rem;
		border: none;
		border-radius: 0.25rem;
		position: absolute;
		top: 0.25rem;
		right: 0.25rem;
		z-index: 10;
		color: gray();
		background-color: transparent;
		outline: 0;
		font-size: 75%;
		cursor: pointer;

		&:hover {
			color: #fff;
			background-color: color($theme-color);
		}
	}

	+ .highlight {
		margin-top: -1rem;
	}
}

.example-block {
	.highlight:not(:last-child) {
		border-bottom-left-radius: none;
		border-bottom-right-radius: none;
	}
}

.modal {
	padding-top: 3rem;
	border: $border-width solid $border-color;
	position: relative;
}
