.example {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem - .5rem;
  margin-top: 2rem;
  color: rgba(0, 0, 0, .7);
  color: #fff;
  text-align: center;
  border: 1px solid $border-color;
  border-top-right-radius: 3px;

  &::before {
    position: absolute;
    bottom: 100%;
    left: -1px;
    display: inline-block;
    padding: 3px 5px;
    font-size: .625rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: top;
    content: 'Example';
    background: $border-color;
    border-radius: 3px 3px 0 0;
  }

  .btn {
    margin-bottom: .5rem;
  }
}

.example ~ .highlight {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid $border-color;
  border-top: 0;
  border-radius: 0 0 3px 3px;

  .copy {
    position: absolute;
    top: .25rem;
    right: .25rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: gray();
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
    outline: 0;

    &:hover {
      color: #fff;
      background-color: color($theme-color);
    }
  }

  + .highlight {
    margin-top: -1rem;
  }
}

.example-block {
  .highlight:not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.modal {
  position: relative;
  padding-top: 3rem;
  border: $border-width solid $border-color;
}

