// stylelint-disable selector-max-type
html {
	overflow-x: hidden;
}

header {
	height: $header-height;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: $z-index-header;
}

.fix-sidebar {
	padding-right: 0;
	margin-bottom: -1rem;
	margin-left: -$container-padding;
	@include clearfix();
}

header ~ .fix-sidebar {
	margin-top: $header-height;
}
// stylelint-enable selector-max-type

.anchor-link {
	display: inline-block;
	padding-top: $header-height;
	margin-top: -$header-height;
}

.title {
	font-weight: normal;
	line-height: 1.125;
}

.subtitle {
	font-weight: 300;
	line-height: 1.25;
}

.container {
	width: 100%;
	padding-right: $container-padding-mobile;
	padding-left: $container-padding-mobile;
	@media screen and (min-width: $mobile-bp) {
		padding-right: $container-padding;
		padding-left: $container-padding;
	}
}

.sidebar {
	width: $sidebar-width;
	padding-top: 1rem;
	margin-bottom: -1rem;
	position: relative;
	float: left; // stylelint-disable-line property-blacklist
	transform: translateX(-($sidebar-width + $container-padding - $sidebar-label-padding));
	transition: transform $sidebar-transition-duration $sidebar-transition-function;

	&.is-sticky {
		top: 56px;
		overflow-y: auto;
		// stylelint-disable-next-line selector-max-specificity
		.sidebar-checkbox:checked ~ .fix-sidebar & {
			height: calc(100vh - 56px);
		}
		@media screen and (min-width: $mobile-bp) {
			height: calc(100vh - 56px);
		}
	}

	.sidebar-checkbox:checked ~ .fix-sidebar & {
		height: auto;
		transform: translateX(0);
	}
	@media screen and (min-width: $mobile-bp) {
		height: auto;
		transform: translateX(0);
	}
}

.content {
	width: 100%;
	padding-top: 1rem;
	padding-left: $spacer;
	margin-left: $sidebar-width;
	transform: translateX(-($sidebar-width - $container-padding + $sidebar-label-padding));
	transition: transform $sidebar-transition-duration $sidebar-transition-function;

	.sidebar-checkbox:checked ~ .fix-sidebar & {
		transform: translateX(0);
	}
	@media screen and (min-width: $mobile-bp) {
		width: auto;
		transform: translateX(0);
	}
}

.sidebar-checkbox {
	display: none;
}

.sidebar-toggle {
	display: flex;
	height: $header-height;
	position: fixed;
	top: 0;
	left: $container-padding-mobile;
	align-items: center;
	z-index: $z-index-sidebar-toggle;
	cursor: pointer;
	@media screen and (min-width: $mobile-bp) {
		display: none;
	}
}

.sidebar-toggle-box {
	display: inline-block;
	width: $sidebar-toggle-layer-width;
	height: $sidebar-toggle-layer-height * 3 + $sidebar-toggle-layer-spacing * 2;
	position: relative;
}

.sidebar-toggle-inner {
	display: block;
	margin-top: $sidebar-toggle-layer-height / -2;
	top: 50%;
	background-color: $body-bg;

	&,
	&::after,
	&::before {
		width: $sidebar-toggle-layer-width;
		height: $sidebar-toggle-layer-height;
		border-radius: $border-radius;
		position: absolute;
		background-color: $body-color;
		transition-property: transform;
		transition-duration: $sidebar-transition-duration;
		transition-timing-function: $sidebar-transition-function;
	}

	&::after,
	&::before {
		content: '';
		display: block;
	}

	&::before {
		top: ($sidebar-toggle-layer-spacing + $sidebar-toggle-layer-height) * -1;
	}

	&::after {
		bottom: ($sidebar-toggle-layer-spacing + $sidebar-toggle-layer-height) * -1;
	}

	.sidebar-toggle:active &,
	.sidebar-checkbox:checked ~ .sidebar-toggle & {
		// stylelint-disable selector-max-specificity
		&::before {
			transform: translate3d($sidebar-toggle-layer-width * -0.2, 0, 0) rotate(-45deg) scale(0.7, 1);
		}

		&::after {
			transform: translate3d($sidebar-toggle-layer-width * -0.2, 0, 0) rotate(45deg) scale(0.7, 1);
		}
		// stylelint-enable selector-max-specificity
	}
}

.footer {
	border-top: $border-width solid $border-color;
	background-color: $white;
	box-shadow: 0 -5px 5px -5px rgba($black, 0.1);
}

.hero {
	padding-top: 7.5rem;
	padding-bottom: 3.5rem;
	text-align: center;

	.title {
		padding-bottom: 0;
		font-size: 3rem;
	}

	.logo-text {
		display: block;
		margin-top: 1rem;
	}

	.subtitle {
		padding-bottom: 0;
	}
}

.hero-buttons {
	margin-right: auto;
	margin-left: auto;

	.btn {
		min-width: 12em;
		margin: 0.5rem;
	}
}

.hero-examples {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	border-top: $border-width solid $inner-border-color;
	text-align: center;
}
