// --------------------------------------------------------
// Mixin: button
// Generate regular and outline buttons
// --------------------------------------------------------

@mixin button($color) {
  @include button-variant(
    $white, color($color), color($color, 'dark'), color($color, 'dark'), color($color, 'dark'), $btn-text-shadow);
}

@mixin button-outline($color) {
  @include button-outline-variant(
    color($color), $white, color($color, 'x-light'), color($color, 'x-light'), color($color), color($color, 'x-dark'));
}

@mixin button-variant($color, $bg-base, $bg-dark, $bg-active, $border, $text-shadow) {
  color: $color;
  text-shadow: $text-shadow;
  background-color: $bg-base;
  border-color: $border;

  @include gradient-directional(($bg-base, $bg-dark), 180deg);

  &:hover {
    color: $color;
    background-image: none;
  }

  &:focus {
    color: $color;
    box-shadow: 0 0 1px 2px rgba($border, .5);
  }

  &.active,
  &:active {
    background-color: $bg-active;
    background-image: none;
    box-shadow: 0 0 1px 2px rgba($border, .5), $btn-active-box-shadow;
  }

  &.disabled,
  &:disabled {
    // cursor: default;
    background-image: none;
    // opacity: .5;
    // box-shadow: none;
    // @include gradient-directional(($bg-base, $bg-dark), 180deg);
  }

  // In button-group, use lighter background when active
  .btn-group & {
    &.active {
      background-color: $bg-base;
      background-image: none;
    }
  }
}

@mixin button-outline-variant($color, $bg-base, $bg-dark, $bg-active, $border, $active-box-shadow-color) {
  color: $color;
  background-color: $bg-base;
  border-color: $border;

  &:hover {
    color: $color;
    border-color: $border;

    @include gradient-directional(($bg-base, $bg-dark), 180deg);
  }

  &:focus {
    border-color: $border;
    box-shadow: 0 0 1px 1px rgba($border, .3);
  }

  &.active,
  &:active {
    background-color: $bg-active;
    background-image: none;
    border-color: $border;
    box-shadow: 0 0 1px 1px rgba($border, .3),
      $btn-active-box-shadow-position rgba($active-box-shadow-color, $btn-active-box-shadow-alpha);
  }

  &.disabled,
  &:disabled {
    background-color: $bg-base;
    background-image: none;
    box-shadow: none;
  }
}
